@import './base.css';
@import "layout.css";
@import "sections.css";
@import "logo.css";

#app {
  max-width: 1460px;
  margin: 0 auto;
  /*padding: 1rem;*/
  font-weight: normal;
}



@media (min-width: 1024px) {
  body {
    /*display: flex;*/
    /*place-items: start;*/
    color: #e3e3e3;
    background: #252c35;
  }

  #app {
    /*display: grid;*/
    /*!*grid-template-columns: 1fr 1fr 1fr;*!*/
    /*grid-template-rows: max-content;*/
    /*padding: 0 1rem;*/
  }
}

@media (min-width: 360px) {
  body {
    /*display: flex;*/
    /*place-items: start;*/
    color: #e3e3e3;
    background: #252c35;
  }

  #app {
    /*display: grid;*/
    /*!*grid-template-columns: 1fr 1fr 1fr;*!*/
    /*grid-template-rows: max-content;*/
    /*padding: 0 1rem;*/
  }
}
